.header {
	position: absolute;
	z-index: 100;
	top: 90px;
	left: 30px;
	right: 30px;
	overflow: hidden;
	.hamburger {
		display: inline-block;
	}
	&__top {
		margin-bottom: 60px;
	}
	.site_logo img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.header__right {
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.header__menu {
	display: inline-block;
	margin-right: 65px;
	ul {
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 30px;
			a {
				font: rem(16px) / rem(19px) 'Hanken Grotesk', sans-serif;
				font-style: normal;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 3px;
				text-decoration: none;
				color: #fff;
				transition: .2s ease-in-out;
				&:hover {
					cursor: pointer;
					color: $col-acc;
				}
			}
		}
	}
}

.hamburger_menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 200;
	background-color: $col-sec;
	&__wraper {
		width: 100%;
		height: 100%;
	}
	.close {
		position: absolute;
		right: 0;
		height: 40%;
		top: 0;
		left: 0;
		right: 0;
	}
	&.active {
		display: block;
	}
	.container,
	.row {
		height: 100%;
	}
	&__nav {
		max-height: 550px;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 0;

		transform: translate(0,-50%);
		padding: 0 0 0 50%;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: block;
				text-align: left;
				margin-bottom: 5vh;
				position: relative;
				&:last-child {
					margin-bottom: 0;
				}
				&:before {
					content: "";
					display: block;
					position: absolute;
					left: -300px;
					top: 27px;
					width: 0;
					height: 1px;
					background-color: #fff;
					transition: .2s ease-in-out;
				}
				&.current-menu-item:before,
				&:hover:before {
					width: 90%;
				}
				a {
					font: rem(48px) / rem(60px) 'HK Gothic', sans-serif;
					font-style: normal;
					font-weight: 600;
					color: #FFFFFF;
					opacity: 0.4;
					text-decoration: none;
					transition: .2s ease-in-out;
					&:hover {
						cursor: pointer;
						opacity: 1;
					}
				}
				&.current-menu-item a {
					opacity: 1;
				}
			}
		}
	}
	h4 {	
		text-align: left;
		font: rem(30px) / rem(38px) 'HK Gothic', sans-serif;
		font-style: normal;
		font-weight: 600;
		color: #4A5568;
		margin-bottom: 40px;
		a {
			text-decoration: none;
			color: inherit;
			transition: .2s ease-in-out;
			&:hover {
				cursor: pointer;
				color: #fff;
			}
		}
	}
	&__contacts {
		text-align: left;
		a {
			display: block;
			font: rem(20px) / rem(32px) Hanken Grotesk, sans-serif;
			font-style: normal;
			font-weight: 400;
			color: #4A5568;
			text-decoration: none;
			margin-bottom: 15px;
			transition: .2s ease-in-out;
			&:last-child { margin-bottom: 0; }
			&:hover {
				cursor: pointer;
				color: $col-pr-light;
			}
		}
	}
	.right_col {
		position: absolute;
		left: 0;
		bottom: 20%;
	}
}



.tabs_wraper {
	position: relative;
	width: 100%;
	.arrow_wraper {
		display: none;
		z-index: 10;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
	}
}


.tabs {
	left: 0;
	height: 110px;
	background: none;
	white-space: nowrap;
	width: 9999999px;
	transition: .3s ease-in-out;
	ul {
		list-style: none;
		height: 100%;
		width: 100%;
		position: relative;
		li { 
			display: inline-block;
			margin-right: 60px;
			&:last-child { margin: 0; }
			&.current-cat {
				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-color: #fff;
					z-index: 10;
				}
				a { color: #fff; }
				&:hover {
					cursor: default;
					a { 
						color: #fff; 
						cursor: default;
					}
				}
			}
			a {
				font: rem(24px) / 110px 'HK Gothic', 'system';
				font-style: normal;
				font-weight: 600;
				color: rgba(185, 75, 75, .8);
				transition: .2s ease-in-out;
				text-decoration: none;
				&:hover {
					cursor: pointer;
					color: rgba(185, 75, 75, 1);
				}
			}
		}
	}
}



.header.scroll {
	z-index: 99;
	padding: 30px 0;
	position: fixed;
	top: 0;
	transform: translate(0, -250px);
	left: 30px;
	right: 30px;
	background-color: $col-pr;
	transition: transform .2s ease-in-out;
	&.active {
		transform: translate(0, 0);
	}
}


.header.scroll.tabs_enable {
	top: 0;
	.header__menu { display: none; }
	.tabs_wraper {
		display: block;
		overflow: hidden;
		margin: 0;
		.tabs {
			height: 34px;
			ul li a { 
				font: rem(24px) / 34px 'HK Gothic', 'system'; 
				font-style: normal;
				font-weight: 600;
			}
		}
		&:after {
			right: 0;
			margin: 0;
			width: 60px;
		}
	}
}


