$headings: #333;


$radius: 3px;
$body-font-size: 13px;

//-------------------------
//-- Must Have Styles Start -->
//-------------------------
* {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

