$headings: #333;
$text-secondary: #8a8a8a;
$plates: #F9F9F9;
$lines: #F0F0F0;
$green-active: #37A000;
$green-hover: #52B121;
$green-bright: #E2F3DA;
$disabled-plate: #E0E0E0;
$disabled-text: #B1B1B1;


$radius: 3px;
$body-font-size: 13px;

//-------------------------
//-- Must Have Styles Start -->
//-------------------------
* {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

