.ext p {
  font: rem(16px) / rem(24px) "Noto Sans HK", "sans";
  font-style: normal;
  font-weight: 300;
  &.small {
    font-size: rem(12px);
    line-height: rem(16px);
    color: $text-secondary;
  }
}
