.ext_btn {
  font: rem(13px) / 50px "Noto Sans HK", "sans";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: $radius;
  height: 50px;
  display: block;
	transition: 0.2s ease-in-out;
	z-index: 10;
	position: relative;
  &.secondary {
    background-color: #fff;
    &:hover {
      color: $green-active;
      cursor: pointer;
    }
  }
  &.primary {
    background-color: $green-active;
    color: #fff;
    &.disabled {
      background-color: $disabled-plate;
      color: $disabled-text;
      box-shadow: none;
      &:hover {
        cursor: default;
        background-color: $disabled-plate;
        color: $disabled-text;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $green-hover;
    }
    &.do-action {
			background-color: tomato;
    }
  }
}


.filters_wraper {
  font: rem(12px) / rem(18px) "Noto Sans HK", "sans";
  font-weight: 500;
  font-style: normal;
  display: block;
  transition: 0.2s ease-in-out;
  margin-bottom: 0px;
  &:hover {
    cursor: pointer;
    color: $green-active;
    &:after {
      border-bottom: 1px solid $green-active;
      border-left: 1px solid $green-active;
    }
  }
  &.active {
    margin-bottom: 20px;
    &:after {
      transform: rotate(135deg);
      margin-bottom: 0px;
    }
  }
}

.filters_wraper:after {
  margin-left: 20px;
  margin-bottom: 3px;
  transform: rotate(-45deg);
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid $headings;
  border-left: 1px solid $headings;
  transition: 0.2s ease-in-out;
}

.ext input {
  padding: 0 15px;
  background: $plates;
  background: #fff;
  border: 1px solid $lines;
  box-sizing: border-box;
  border-radius: $radius;
  height: 40px;
  font: rem(13px) / 34px "Noto Sans HK", "sans";
  font-style: normal;
  font-weight: normal;
  color: $headings;
	width: 100%;
	transition: .2s ease-in-out;
	&:hover {
		border: 1px solid $green-bright;
	}
}

.ss-main {
  display: block;
  width: 100%;
}

.ext label {
  display: block;
  width: 100%;
  font: rem(11px) / rem(18px) "Noto Sans HK", "sans";
  font-style: normal;
  font-weight: 400;
  color: $headings;
  margin-bottom: 5px;
}

.ext .form_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  .half {
    width: calc(50% - 10px);
  }
  .full {
    width: 100%;
  }
}

#error_message {
  font: rem(12px) / rem(16px) "Noto Sans HK", "sans";
  font-style: normal;
  font-weight: 300;
	color: #df4a4a;
	display: block;
	margin-bottom: 0;
	max-height: 0;
	opacity: 0;
	transition: .2s ease-in-out;
	z-index: 1;
	a {
		color: #df4a4a;
	}
	&.show {
		opacity: 1;
		max-height: 70px;
		margin-bottom: 10px;
	}
}
